.wrapper {
  /* min-height: rem(400px); */
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--mantine-radius-md);
  /* margin-left: 10px; */
  @media (max-width: 48em) {
    padding: calc(var(--mantine-spacing-xl) * 1);
    margin: 10px;
  }
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  color: var(--mantine-color-white);
  line-height: 1;
}

.description {
  color: var(--mantine-color-blue-0);
  max-width: rem(300px);

  @media (max-width: 48em) {
    max-width: 100%;
  }
}

.form {
  background-color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-lg);
}

.social {
  color: var(--mantine-color-white);

  @mixin hover {
    color: var(--mantine-color-blue-1);
  }
}

.input {
  background-color: var(--mantine-color-white);
  border-color: var(--mantine-color-gray-4);
  color: var(--mantine-color-black);

  &::placeholder {
    color: var(--mantine-color-gray-5);
  }
}

.inputLabel {
  color: var(--mantine-color-black);
}

.control {
  background-color: var(--mantine-color-blue-6);
}

.ParentToInputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

@media (max-width: 550px) {
  .ParentToInputs {
    gap: 5px;
  }
}
