.headerPageTeacher{
    background-image: url("../../assets/Alsafwa/virtual-classroom-study-space.jpg");
    padding: 50px 100px;
background-size: 100% ;
background-repeat: no-repeat;
}


@media (max-width:460px) {

    .headerPageTeacher{
        padding: 40px 20px;
    
        background-size:auto 100% ;
    }
    }