.header {
  height: rem(70px);
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(34, 139, 230);
  transition: width 0.4s ease;
}

.link:hover::before {
  width: 100%;
}

.StyleMenuSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: 18px;
  font-weight: 400;
  position: relative;
  @media (max-width: "48em") {
    height: rem(42px);
    width: 100%;
  }
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-7)
    );
  }
}

.dropdownFooter {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.decorationLight {
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  position: fixed;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  padding: 0 !important;
}

.decorationDark {
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  position: fixed;
  z-index: 1000;
  background-color: rgb(36, 36, 36);
  padding: 0 !important;
}
.StyleImg {
  height: 70px;
}
.StyleImg > a {
  display: inline-block;
  height: 70px;
}
.itemHeader {
  gap: 3rem;
  margin-left: -75px;
  text-align: center;
}
.StyleBurger{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.reponsHeader {
  justify-content: space-evenly;
  flex-wrap: nowrap;
  gap: 0;
}
.styleMobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}
@media (max-width: 992px) {
  .reponsHeader {
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}

.icon {
  width: rem(22px);
  height: rem(22px);
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}

.Handler {
  width: 100%;
  height: 70px;
}
