.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(248, 250, 252); */
  width: 100%;
  padding: 50px 10px;
}

.StylingSocialLight {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.StylingSocialLight,
.StylingSocialDark {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 26px;
  width: 400px;
  justify-content: space-between;
  font-size: 21px;
  background: rgb(241, 245, 249);
  padding: 10px 20px;
  border-radius: 14px;
}
.StylingSocialDark {
  background: rgb(36, 36, 36);
  color: white;
}
.conToSocial {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.StylingSocialLight svg {
  rotate: 270deg;
}

.StylingSocialDark svg {
  rotate: 270deg;
}

.StylingSocialLight > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.StylingSocialDark > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.StylingSocialLight > div span {
  font-size: 18px;
}

.StylingSocialDark > div span {
  font-size: 18px;
}

.conToSocial .StylingSocialLight:first-child svg {
  color: rgb(95, 213, 104);
  height: 37px;
  width: 37px;
}

.conToSocial .StylingSocialDark:first-child svg {
  color: rgb(95, 213, 104);
  height: 37px;
  width: 37px;
}

.conToSocial .StylingSocialLight:nth-child(2) svg {
  color: #007bff;
  height: 37px;
  width: 37px;
}

.conToSocial .StylingSocialDark:nth-child(2) svg {
  color: #007bff;
  height: 37px;
  width: 37px;
}

.StylingSocialLight > span {
  font-size: 16px;
}

.StylingSocialDark > span {
  font-size: 16px;
}

.ConToLinksLight,
.ConToLinksDark {
  margin: 50px 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.ConToLinksLight > a {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.ConToLinksLight > a,
.ConToLinksDark > a {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-decoration: none;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ConToLinksLight > a > div,
.ConToLinksDark > a > div {
  background-color: #94a3b8;
  color: white;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Seprator {
  position: relative;
}
.ConToLinksDark > a {
  background-color: #363636;
}
.Seprator::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #94a3b8;
  margin: 10px 0;
}
.Seprator::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #94a3b8;
  margin: 10px 0;
}

.FormStyling {
  height: 500px;
}

@media (max-width: 770px) {
  .FormStyling {
    margin-left: 20px;
  }

  .parent {
    margin-bottom: 100px;
  }
}

@media (max-width: 550px) {
  .conToSocial {
    width: 300px;
    margin: auto;
    margin-bottom: 50px;
  }
  .StylingSocialLight,
  .StylingSocialDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .parent {
    margin-bottom: 150px;
  }
  .ConToLinksLight,
  .ConToLinksDark {
    width: 80%;
    margin: auto;
  }
  .ConToLinksLight > a,
  .ConToLinksDark > a {
    width: 60px;
    height: 60px;
  }
}
