.card {
  background-color: #fff;
  width: 375px;
  min-width: 300px;
  height: 500px;
  box-shadow: 0 5px 20px rgba(1, 1, 1, 0.35);
  border-radius: 10px;
  margin: 30px 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
}
.crdDark {
  background-color: #212121 !important;
}
.crdDark * {
  color: #fff !important;
}
.stylePrice {
  position: absolute;
  width: 100px;
  left: 0;
  padding: 10px;
  border: 2px solid rgb(34, 139, 230);
  border-radius: 10px 0 10px 0;
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ffffff75;
}
.stylePrice > span {
  font-size: 16px;
  color: rgb(8, 8, 8);
  font-weight: 600;
}

.teacherImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 10px;
  background-color: #f2f2f2;
}

.teacherInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  padding: 10px;
  position: absolute;
  bottom: 148px;
  right: 6px;
}

.teacherInfo > span {
  font-weight: 600;
  color: black;
  font-size: 17px;
  line-height: 24px;
}
.teacherInfo > p {
  margin: 0;
  font-weight: 400;
  color: black;
  font-size: 14px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.buttonDetails,
.buttonRegister,
.buttonRegisterAreadey {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.buttonRegisterAreadey {
  background-color: rgb(34, 139, 230) !important;
  cursor: default;
}

.buttonDetails {
  background-color: #d6e4ff;
  color: #000;
}

.buttonRegister {
  background-color: #002766 !important;
  color: #fff;
}

.discussionImage {
  width: 100%;
  height: auto;
  overflow: hidden;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 0,
    100% 86%,
    82% 90%,
    31% 100%,
    0 100%,
    0 0
  );
}

.discussionImage img {
  width: 100%;
  height: 280px;
  display: block;
}

.StyleInfoCourse {
  margin-right: auto;
  width: fit-content;
  padding: 10px 5px;
}
.StyleInfoCourse > p {
  margin: 0;
}
.StyleInfoCourse > p:first-child {
  font-size: 16px;
  font-weight: 500;
}
.StyleInfoCourse > p:nth-child(2) {
  font-size: 14px;
}

.StyleDescription {
  text-align: center;
  margin: 10px 15px;
  max-width: 300px;
  padding: 10px;
  font-size: 20px;
}

@media (max-width: 880px) {
  .card {
    margin: 30px 0px;
  }
}
@media (max-width: 880px) {
  .card {
    margin: 30px 0px;
  }
}
@media (max-width: 400px) {
  .teacherInfo span {
    font-size: 12px !important;
  }
  .card {
    margin: 30px 0px;
    width: 300px;
  }
  .StyleInfoCourse p {
    font-size: 14px !important;
    max-width: 162px;
  }
}
