.headerPageTeacher {
  background-image: url("../../assets/Alsafwa/teacherpage.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  background-position: center;
  border: 2px solid var(--second-main-color);
  width: 80%;
  margin: auto;
  margin-top: 60px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.Description {
  color: var(--second-main-color);
  font-size: 20px;
  font-weight: 500;
}
.headerPageTeacher > p:last-child {
  font-size: 24px;
}
.header_title {
  margin-top: 20px;
  border-top: 2px solid transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  border: none;
  text-align: center;
}

.card_img_top {
  width: 100%;
  height: 250px;
  border-radius: 5%;
  margin-bottom: -7px;
  object-fit: contain;
}

.card_titleLight {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  color: black;
}
.card_titleDark {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  color: white;
}

.card_textLight {
  font-size: 1rem;
  color: black;
}

.card_textDark {
  font-size: 1rem;
  color: white;
}

@media (max-width: 550px) {
  .select {
    margin-right: 30px;
  }
}

@media (max-width: 460px) {
  .headerPageTeacher {
    padding: 5px 20px;
    background-size: contain;
  }
  .headerPageTeacher p {
    font-size: 16px !important;
  }
}
