.footer {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  object-fit: contain;
}
.ImgCon > img {
  width: 150px;
  object-fit: contain;
}
.linkFooter {
  text-decoration: none;
  color: #eee;
  display: inline-block;
  margin-bottom: 10px;
}

.titleInFooter {
  font-size: 20px;
  font-weight: 700;
  color: rgb(38, 180, 252);
}

.logo {
  margin-bottom: -50px;
  width: 250px;
}
.partMore {
  margin-right: -30px;
}
.ConToLinksLight {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 34px;
  gap: 22px;
}

.ConToLinksLight a {
  text-decoration: none;
  color: white;
  background-color: rgb(21, 131, 187);
  display: flex;
  width: 50px;
  height: 50px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
@media (max-width: 850px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: space-evenly;
  }

  .partMore {
    margin-right: 0px;
  }
}
@media (max-width: 601px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: space-evenly;
  }

  .logo {
    margin-bottom: 0px;
    width: 270px;
  }
  .partMore {
    margin-right: 0px;
  }
}

@media (max-width: 400px) {
  .ImgCon {
    flex-direction: column;
    gap: 10px;
  }
}
