@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");

:root {
  --second-main-color: rgb(65, 130, 249);
  --main-bg-color: #eaf1ff;
}

* {
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.LinkActiveInMain.active::before {
  background-color: rgb(34, 139, 230);
  width: 100%;
}

*::-webkit-scrollbar {
  height: 13px;
  width: 13px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}
*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #4182f9;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #4182f9;
}

.NotFoundStyle{
  font-size: 25px;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #4182f9;
}
@media (max-width: 950px) {
  .mantine-Popover-dropdown span {
    font-size: 8px !important;
  }
  .mantine-Popover-dropdown svg{
    width: 8px !important;
  }
}

@media (max-width: 450px) {
  .mantine-Popover-dropdown span {
    font-size: 8px !important;
  }
  .mantine-Popover-dropdown svg{
    width: 8px !important;
  }
  .NotFoundStyle{
    font-size: 18px;
  }
}

